hide_submitter();

$$('#submitter input[type="text"]').each(function(input) {
  input.clear();
});

$('#buttons').insert({
  'after' : '<div id="flash_notice">Thank you, your twote has been submitted.</div>'
});