body {
  font-family: 'lucida grande', helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  background-color: #a2ccfc;
  margin: 0;
  padding: 0;
  background-image:url('/images/grass.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-attachment: fixed;
}

.white {
  color: #f8f8f8;
  text-decoration: none;
}

#note {
  background-color: #7d0000;
  height: 17px;
  z-index: 10;
  border-bottom: 1px solid #333;
  padding: 7px 10px;
  color: #f8f8f8;
  text-align: center;
  background-image: url('/images/bg-note.jpg');
  background-repeat: repeat-x;
}

#note-message {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  font-size: 12px;
}

#welcome {
  float: left;
}

#close {
  float: right;
}

div#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

div#container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  z-index: 8;
  top: 0;
  clear: both;
}

div#masthead {
  text-align:right;
  padding-bottom: 0px;
}

div#masthead img {
  border: 0;
  cursor: pointer;
}

#header {
  text-align:center;
  padding: 20px 40px;
}

div#quote-top {
  background-image:url('/images/quote-top.png');
  width: 438px;
  height: 37px;
  margin-left: auto;
  margin-right: auto;
}

div#authentication {
  text-align: center;
}

#quote {
  background-color: #fff;
  width: 398px;
  padding: 0px 20px;
  color: #ababab;
  font-family: georgia, 'lucida grande', helvetica, arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#quote_block {
  min-height: 180px;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 345px;
  z-index: 2;
}

#quote-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div#quote-bottom {
  background-image:url('/images/quote-bottom.png');
  width: 438px;
  height: 37px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}


/*Masthead*/
#login {
  float: right;
  padding: 5px 20px 0px 0px;
}

#submit-twote {
  float: right;
}

.clear{
  clear: both;
}

/*Submitter*/
div#submitter {
  position: relative;
  top: 100px;
  width: 560px;
  height: 380px;
  margin: auto;
  z-index: 100;
  padding: 30px 35px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('/images/bg-submitter.png');
}

#quote_count {
  width: 30px;
  margin-top: 10px;
  padding: 2px 5px;
  background-color: #e7e7e7;
  border: 1px solid #ababab;
  float: left;
  font-size: 16px;
  color: #666666;
}

#quote_quote {
  height: 145px;
  width: 550px;
  background-image: url('/images/bg-quote.jpg');
  background-repeat: no-repeat;
  border: 1px solid #ababab;
  font-size: 16px;
  color: #666666;
  padding: 5px;
  font-family: 'lucida grande', helvetica, arial, sans-serif;
}
.submit{
  font-size: 30px;
  font-family: 'lucida grande', helvetica, arial, sans-serif;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}

.area {
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'lucida grande', arial, helvetica, sans-serif;
}

#quote_author {
  height: 20px;
  padding: 5px;
  font-size: 16px;
  color: #666666;
  border: 1px solid #ababab;
  background-image: url('/images/bg-author.jpg');
  background-repeat: repeat-x;
  font-family: 'lucida grande', helvetica, arial, sans-serif;
}

div#submit-fields {
  text-align: left;
  font-size: 18px;
  color: #666666;
  font-family: helvetica, arial, sans-serif;
  height: 250px;
}

div#field-author {
  color: #000;
}

div#footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  z-index: 1;
  color: #fff;
  font-size: 12px;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

#character_count {
  padding: 12px 10px;
  float: left;
}

.area_quote {
  height: 130px;
  width: 500px;
  vertical-align: top;
}

.field_author {
  height: 20px;
  width: 200px;
  vertical-align: top;
}

.field {
  color: #000;
  font-size: 18px;
  font-family: helvetica, arial, sans-serif;
}

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px auto;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}