<html>
<head>
  <link href="styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="sun"></div>
<div id="clouds"></div>

  
<div id="container">
  <div id="masthead"><img alt="Submit Twote" src="/images/submit-twote.png" width="127" height="30" border="0"></div>
  <div id="header"><a href="index.html"><img alt="Twote It" src="/images/header.png" width="510" height="56" border="0"></a><br><br>Having trouble finding a cool quote to share on Twitter? Why not twote it? Click on "Twote it!" to share the quote on screen and we'll push it on your Twitter page.<br><br>
  <div id="quote-container">  
    <div id="quote-top"></div>
    <div id="quote"><img alt="" src="/images/quote-lt.png" width="" height="" border="0" style="display: block;">Do or do not... there is no try<br><br>&mdash;Yoda<img alt="" align="right" src="/images/quote-rt.png" width="" height="" border="0" style="display: block;"></div>
    <div id="quote-bottom"></div>  
  </div>
  </div>
  <div id="body">
    <div style="float: left; padding-right: 30px;"><img alt="Twote It!" src="/images/bt_twoteit.png" width="155" height="51" border="0"></div>
     <div style="float: left;"><img alt="Twote It!" src="/images/bt_different.png" width="155" height="51" border="0"></div>
  </div>
</div>
  <div id="footer">Created by<br>David Hoang + Adam McDonald</div>

<div id="grass"></div>
</body>
</html>